<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd     http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.study.shiro"/>
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/static/login.html"/>
        <property name="unauthorizedUrl" value="/static/403.html"/>
        <property name="filterChainDefinitions">
            <value>
                /static/login.html=anon
                /testPermission1=perms["account:managerAdd"]
                /testPermission2=perms["account:managerAdd","account:managerDelete"]
                /testRole1=roles["admin"]
                /testRole2=roles["admin","customer"]
                /rolesOr=rolesOr["admin","customer"]
                /subLogin=anon
                /*=authc
            </value>
        </property>
        <property name="filters">
            <util:map>
                <entry key="rolesOr" value-ref="rolesOrFilter"/>
            </util:map>
        </property>
    </bean>
    <bean class="com.study.shiro.filter.RolesOrFilter" id="rolesOrFilter"/>
    <bean class="org.apache.shiro.web.mgt.DefaultWebSecurityManager" id="securityManager">
        <property name="realm" ref="realm"/>
        <property name="sessionManager" ref="customSessionManager"/>
        <property name="cacheManager" ref="redisCacheManager"/>
        <property name="rememberMeManager" ref="cookieRememberMeManager"/>
    </bean>

    <bean class="com.study.shiro.realm.CustomRealm" id="realm">
        <property name="credentialsMatcher" ref="matcher"/>
    </bean>

    <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher" id="matcher">
        <property name="hashIterations" value="1"/>
        <property name="hashAlgorithmName" value="md5"/>
    </bean>

    <bean class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager" id="sessionManager">
        <property name="sessionDAO" ref="redisSessionDao"/>
    </bean>
    <!--自定义的SessionManager-->
    <bean class="com.study.shiro.session.CustomSessionManager" id="customSessionManager">
        <property name="sessionDAO" ref="redisSessionDao"/>
    </bean>

    <bean class="com.study.shiro.session.RedisSessionDao" id="redisSessionDao"/>

    <bean class="com.study.shiro.cache.RedisCacheManager" id="redisCacheManager"/>

    <bean class="org.apache.shiro.web.mgt.CookieRememberMeManager" id="cookieRememberMeManager">
        <property name="cookie" ref="cookie"/>
    </bean>
    <bean class="org.apache.shiro.web.servlet.SimpleCookie" id="cookie">
        <constructor-arg value="rememberMe"/>
        <property name="maxAge" value="600"/>

    </bean>
</beans>