<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.alibaba.com/schema/stat http://www.alibaba.com/schema/stat.xsd">


    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/static/login.html"/>
        <property name="unauthorizedUrl" value="403.html"/>
        <property name="filterChainDefinitions">
            <value>
                /static/login.html=anon
                /subLogin=anon
                /*=authc
            </value>
        </property>
    </bean>

    <bean class="org.apache.shiro.web.mgt.DefaultWebSecurityManager" id="securityManager">
        <property name="realm" ref="realm"/>
    </bean>

    <bean class="com.study.shiro.realm.CustomRealm" id="realm">
        <property name="credentialsMatcher" ref="matcher"/>
    </bean>

    <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher" id="matcher">
        <property name="hashIterations" value="1"/>
        <property name="hashAlgorithmName" value="md5"/>
    </bean>
</beans>